.title {
  text-decoration: none;
  color: white;
}

.title:hover {
  text-decoration: none;
  cursor: pointer;
}

.header {
  font-weight: 600;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #ccc;
}
