.title {
  text-decoration: none;
  color: white;
}

.title:hover {
  text-decoration: none;
  cursor: pointer;
}

.header {
  font-weight: 600;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #ccc;
}

.bug {
  background-color: #ab2;
}

.grass {
  background-color: #77cc55;
}

.water {
  background-color: #3399ff;
}

.fire {
  background-color: #ff4422;
}

.normal {
  background-color: #aaaa99;
}

.rock {
  background-color: olive;
}

.ground {
  background-color: #db5;
}

.psychic {
  background-color: #800080;
}

.fighting {
  background-color: #b54;
}

.electric {
  background-color: #ffd900ec;
}

.poison {
  background-color: #a59;
}

.flying {
  background-color: #89f;
}

.fairy {
  background-color: #e9e;
}

.dragon {
  background-color: #1299cf;
}

.ghost {
  background-color: #6666bb;
}

.ice {
  background-color: #6cf;
}

.dark {
  background-color: #3e3e3e;
}

.steel {
  background-color: #aaaabb;
}
